{% include "header.html" %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">AuPAIR</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/problem/">Create</a></li>
        <li><a href="/problemSelect/">Send</a></li>
        <li><a href="/rewards/">Reward</a></li>
        <li class="active"><a href="/devices/">Device</a></li>
        </ul> 
      <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><p class="navbar-text navbar-right">{{ user.get_username }}</p></li>
            <li><a href="/logout/" class="btn glyphicon glyphicon-log-out"> Logout</a></li>
            {% else %}
            <li><p class="navbar-text navbar-right"> welcome Guest</p></li>
            <li><a href="/login/" class="btn glyphicon glyphicon-log-in navbar-right"> Login</a></li>
            <li><a href="/register/" class="glyphicon glyphicon-registration-mark navbar-right"> Register</a></li>
            {% endif %}
            </ul>
    </div>
  </div>
</nav>
<div class="row">
<form action="/devices/" method="post" enctype="multipart/form-data">
{% csrf_token %}
{% if success %}
<div class="col-xs-10 col-md-4 alert alert-success">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
   <strong>Success!</strong> {{success}}
</div>
{% endif %}
{% if error %}
<div class="col-xs-12 col-md-8 alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
  <strong>Error!</strong>  {{error}}
</div>
{% endif %}
<table class="table table-striped">
    <thead>
      <tr>
        <th>Device Key</th>
        <th>Device Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" name="DeviceKey" id="DeviceKey" value=""></td>
        <td><input type="text" name="DeviceName" id="DeviceName" value="" maxlength="45"></td>
      </tr>
    </tbody>
  </table>
<div class="row">
   <div class="row">
     <div class="col-md-4">
     <input type="submit" class="btn btn-info" name="submit" value="Submit">
     </div>
   </div>  
 </div>
  </form>
  <br>
  <div class="row">
     <div class="col-md-4">
     <p><h4>Select the devices you want to Delete</h4></p>
     </div>
 </div>
  <form action="/devicesdel/" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <br>
 <div class="row">
 <table class="table table-striped table-bordered" style="width:100px">
    <thead>
      <tr>
        <th>select</th>
        <th>Device Key</th>
        <th>Device Name</th>
      </tr>
    </thead>
    <tbody>
    {% for field in devices %}
      <tr>
        <td><input type="checkbox" value="{{field.deviceid}}" name="deviceid"></td>
        <td><input type="textbox" disabled="true" value="{{field.DeviceKey}}" name="DeviceKey"></td>
        <td class="col-md-2"><input type="textbox"  disabled="true" value="{{field.DeviceName}}" name="DeviceName"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
   <div class="row">
     <div class="col-md-4">
     <input type="submit" class="btn btn-info" name="submit" value="Delete">
     </div>
   </div>  
</form>
 
</div>
{% include "footer.html" %}