{% include "header.html" %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">AuPAIR</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/problem/">Create</a></li>
        <li><a href="/problemSelect/">Send</a></li>
        <li><a href="/rewards/">Reward</a></li>
        <li ><a href="/devices/">Device</a></li>
         </ul> 
      <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><p class="navbar-text navbar-right">{{ user.get_username }}</p></li>
            <li><a href="/logout/" class="btn glyphicon glyphicon-log-out"> Logout</a></li>
            {% else %}
            <li><p class="navbar-text navbar-right"> welcome Guest</p></li>
            <li><a href="/login/" class="btn glyphicon glyphicon-log-in navbar-right"> Login</a></li>
            <li><a href="/register/" class="glyphicon glyphicon-registration-mark navbar-right"> Register</a></li>
            {% endif %}
            </ul>
    </div>
  </div>
</nav>
<script>
     $(document).ready(
                      function() {
                          $("select#AnswerGroup").change(function() {
                               if ($(this).val() == '') {
                                  $("select#Answer").html("<option>Select a Answer</option>");
                                  $("select#Answer").attr('disabled', true);
                              }
                              else {
                                  var url = "/respgroup/" + $(this).val()+"/";
                                  var respgroup = $(this).val();
                                  $.getJSON(url, function(models) {
                                      var options = '<option value="">Select a Answer</option>';
                                      for (var i = 0; i < models.length; i++) {
                                         options += '<option value="' + models[i].pk + '">' + models[i].fields['Answer'] + '</option>';
                                      }
                                      $("select#Answer").html(options);
                                      $("select#Answer").attr('disabled', false);
                                  });
                              }
                          });


                          $("select#Answer").change(function(vent) {
                              if ($(this).val() == -1) {
                                  return;
                              }
                              
                          });
                      });
                      
                  
     

</script>
<div class="row">
<form action="/problem/" method="post" enctype="multipart/form-data">
{% csrf_token %}
{% if success %}
<div class="col-xs-12 col-md-8 alert alert-success">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
   <strong>Success!</strong> {{success}}
</div>
{% endif %}
{% if error %}
<div class="col-xs-12 col-md-8 alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
  <strong>Error!</strong>  {{error}}
</div>
{% endif %}
<table class="table table-striped">
    <thead>
      <tr>
        <th>Image</th>
        <th>Question</th>
        <th>Answer Group</th>
        <th>Answer</th>
        <th>Question Weight</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ form.ImageFile }}(only jpg or jpeg)</td>
        <td><input type="text" name="Question" id="Question" value="" maxlength="200"></td>
        <td>
        <select name="AnswerGroup" id="AnswerGroup">
         <option value="">Select a question Group</option>
        {% for resp in resp_lis %}
             <option value="{{ resp.respgrp_id}}">{{ resp.AnswerGroup}}</option>
         {% endfor %}
        </select>
        </td>
        <td>
        <select name="Answer" id="Answer" disabled="true">
         <option>Select a model</option>
        </select>   
        </td>
         <td>
          <select name="weight" id="weight">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
         </select>   
        </td>
      </tr>
    </tbody>
  </table>
<div class="row">
   <div class="row">
     <div class="col-md-4">
     <input type="submit" class="btn btn-info" name="submit" value="Submit">
     </div>
   </div>  
 </div>
 </form>
 <br>
 <div class="row">
     <div class="col-md-4">
     <p><h4>Select the problems you want to Delete</h4></p>
     </div>
 </div>    
 <form action="/Problemdel/" method="post" enctype="multipart/form-data">
  {% csrf_token %}
 <div class="row">
 <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Select</th>
        <th>Question</th>
        <th>Answer</th>
        <th>Weight</th>
        <th>File</th>
      </tr>
    </thead>
    <tbody>
    {% for field in problist %}
      <tr>
      <td><input type="checkbox" value="{{field.problemId}}" name="problemId"></td>
      <td><textarea rows="2" cols="30" disabled="true">{{field.Question}}</textarea></td>
      <td><input type="textbox"  disabled="true" value="{{field.Answer.Answer}}" name="answer"></td>
      <td><input type="textbox"  disabled="true" value="{{field.weight}}" name="weight"></td>
      <td><div class="media imagesize col-md-4"> 
      {%if field.ImageFile %}
      <img  class="media-object imagesize" src="{{field.ImageFile.url}}">
      {% endif %}  
      </div></td>
     </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="row">
     <div class="col-md-4">
     <input type="submit" class="btn btn-info" name="submit" value="Delete">
     </div>
   </div>  
 </form>
 
</div>
{% include "footer.html" %}