{% include "header.html" %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">AuPAIR</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="">Home</a></li>
        <li><a href="/problem/">Create</a></li>
        <li><a href="/problemSelect/">Send</a></li>
        <li><a href="/rewards/">Reward</a></li>
        </ul> 
      <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><p class="navbar-text navbar-right">{{ user.get_username }}</p></li>
            <li><a href="/logout/" class="btn glyphicon glyphicon-log-out"> Logout</a></li>
            {% else %}
            <li><p class="navbar-text navbar-right"> welcome Guest</p></li>
            <li><a href="/login/" class="btn glyphicon glyphicon-log-in navbar-right"> Login</a></li>
            <li><a href="/register/" class="glyphicon glyphicon-registration-mark navbar-right"> Register</a></li>
            {% endif %}
            </ul>
    </div>
  </div>
</nav>

<div class="container">
        <div class="row text-center pad-top ">
            <div class="col-md-12">
                <h2>Registration Page</h2>
            </div>
        </div>
         <div class="row  pad-top">
               
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                        <strong>   Register Yourself </strong>  
                             {% for field in form %}
                             <div class="alert alert-error">
                            <strong>Error!</strong> 
                             {{field.errors}} 
                             </div>
                            {% endfor %}
                            </div>
                            <div class="panel-body">
                              <form action="/register/" method="post">
                              
                {% csrf_token %}
<br/>
                                        <div class="form-group input-group">
                                            <input type="text" class="form-control" name ="first_name" placeholder="First Name" />
                                        </div>
                                        <div class="form-group input-group">
                                            <input type="text" class="form-control" name ="last_name" placeholder="Last Name" />
                                        </div>
                                     <div class="form-group input-group">
                                            <input type="text" class="form-control" name="username" placeholder="Desired Username" />
                                        </div>
                                         <div class="form-group input-group">
                                            <input type="text" class="form-control"  name="email"  placeholder="Your Email" />
                                        </div>
                                      <div class="form-group input-group">
                                            <input type="password" class="form-control" name="password1" placeholder="Enter Password" />
                                        </div>
                                     <div class="form-group input-group">
                                            <input type="password" class="form-control" name="password2" placeholder="Retype Password" />
                                        </div>
                                     
                                      <input type="submit" class="btn btn-success " name="submit" value="Register">
                                    <hr />
                                    Already Registered ?  <a href="/login/" >Login here</a>
                                    </form>
                            </div>
                           
                        </div>
                    </div>
                
                
        </div>

{% include "footer.html" %}